body {
    background: url("../assets/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    /* Default text color */
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

canvas {
    display: block;
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 4px;
    width: 130px;
    --c: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c), var(--c), #d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    z-index: 99999;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    flex-direction: column;
    transition: opacity 1.5s ease, visibility 1.5s;
}

#loading-overlay.fade-out {
    opacity: 0;
    visibility: hidden;
}

.loading-gif {
    width: 100px;
    /* Adjust size as needed */
    height: auto;
    /* Adjust size as needed */
    margin-bottom: 20px;
}

.loading-text {
    color: #ccc;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.progress-bar-container {
    width: 300px;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: #00C6FF;
    transition: width 0.1s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}